NEXT_PUBLIC_SUPABASE_URL=NEXT_PUBLIC_SUPABASE_DB_URL_HERE
NEXT_PUBLIC_SUPABASE_ANON_KEY=NEXT_PUBLIC_SUPABASE_DB_ANON_KEY_HERE
GEMINI_API_KEY=GEMINI_API_KEY_HERE
OPENROUTER_API_KEY=OPENROUTER_API_KEY_HERE